body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.zero {
  display : flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-top: 100px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
  
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.center{  
  text-align: center;  
    
  width: 1370px;  
    
  }  

  h1{
    text-align: center;
    color : white;
    text-shadow: 0 2px 2px black;
  }
/* 
  button{
    padding : 22px 30px;
    background : #9b59b6;
    color : white;
    border : 2px solid #ecf0f1;
    outline : none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    

  } */

 div {
  width : 100%;
  height: 100vh;
  background: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .InputField{
  padding : 22px 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .main_div {
  width :100%;
  height : 100vh;
  background : #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .center_div {
  width : 25%;
  height : 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
 }

 .todo {
  color: white;
  background: transparent;

  background-color: #8566aa;
  padding : 8px 5px 8px 5px;
  margin-bottom : 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3 );
 }

 input{
  text-align: center;
  height: 30px;
  top : 10px;
  border : none ;
  background: transparent;
  font-size : 20px;
  font-weight: 500;
  width : 60%;
  border-bottom : 2px solid #8566aa;
  outline : none;
 }

 .todobtn{

  min-height: 40px;
  text-align: center;
  width: 40px;
  border-radius : 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 40px;
  border : none;
  outline : none;
  margin-left : 10px;
  box-shadow : 5px 5px 15px -5px rgba(0,0,0,0.3 );
 }

 .todobtn:hover {
  background-color: #20bf6b;
 }

 ol{
  margin-top : 30px;
 }

 ol li {
  padding-left: 0px;
  text-align : left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items : center;
  color: #8566aa;
  text-transform: capitalize;
 }



  